# Python-specific files
__pycache__/
romagic/__pycache__/
romagic/*/__pycache__/
romagic/*/*/__pycache__/
.cache

# Virtual environment
venv/

# Environment variables
.env

# Database
romagic.db

# IDE/editor-specific
.vscode/

# macOS-specific
.DS_Store
