body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
}
.container {
  max-width: 500px;
  margin: auto;
}
.profile {
  margin-top: 20px;
}
.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.track {
  margin-top: 20px;
  font-weight: bold;
}
.login-btn {
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  background-color: #1db954;
  border-radius: 5px;
  display: inline-block;
}
.lyrics-container {
  white-space: pre-line;
  font-family: "Arial", sans-serif; /* Use a clean, readable font */
  line-height: 1.6; /* Improve readability */
  text-align: left;
}
